*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


/******************** iNICIO DO CABECALHO*/
.cabecalho {
    background-color: #609966;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; 

}

.cabecalho nav {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 85%;
    font-weight: bold;
}

.cabecalho a {
    text-decoration: none;
    font-size: 1em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #000;
    text-align: center;
    padding: 5% 3%;
}

.cabecalho img {
    width: 180px;
    height: 180px;
}

.cabecalho a:hover{
    background-color: #E5F9DB;
    color: #000000;
}


/********************  iNICIO DO CONTEUDO*/
.conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

.conteudo div{
    padding-top: 2%;
}

.container {
  width: 90%;
  margin: 50px auto;
}

.heading {
  text-align: center;
  font-size: 30px;
  margin-bottom: 50px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
}

.conteudo p {
    text-align: justify;
    padding-top: 5%;
}

.card {
  width: 20%;
  background: #fff;
  border: 1px solid #ccc;
  margin-bottom: 50px;
  transition: 0.3s;
}


.card-body {
  padding: 30px 20px;
  text-align: center;
  font-size: 18px;
}

.card-body .btn {
  display: block;
  color: #fff;
  text-align: center;
  background: linear-gradient(to right, #609966, #E5F9DB);
  margin-top: 30px;
  text-decoration: none;
  padding: 10px 5px;
}

.card img {
    width: 100%;

}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}

footer {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  background: #609966;
  height: auto;
  padding-top: 7px;
  padding-bottom: 7px;
  width: 100vw;
  color: black;

}

.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content p {
  max-width: 80%;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}

.info {
  width: 100%;
  height: 50%;
  padding: 10px;
}

.info img {
  width: 328px;
  height: 182px;
}

.conteudo-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  flex-wrap: wrap;
  max-width: 80%;
  margin: 0 auto; 
}

.conteudo-2 h1 {
    padding: 10px 0;
}

.conteudo-2 p {
  margin: 8px;
}

.negrito {
  font-weight: bold;
}



/********************  BREAKPOINTS*/
@media(max-width:1920px){

    .cabecalho a {
        font-size: 1em;
        padding: 5% 2%;
    }
}

